.App {
  text-align: center;
}

.app_form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 70%;
  margin: 20%;
}

.app_formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app_input {
  flex: 1;
}

.app_iconButton {
  flex: 0;
}